.containerTasks {
  margin-top: 2rem;
}

.progressTasks {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.5rem;
}

.createdTasks {
  font-size: 0.875rem;
  color: var(--blue);
  line-height: 1.6;
}

.createdTasks > span {
  background: var(--gray-400);
  color: var(--gray-200);
  margin-left: 0.5rem;
  padding: 2px 8px;
  border-radius: 12px;

  font-size: 0.75rem;
}

.completedTasks {
  font-size: 0.875rem;
  color: var(--purple);
  line-height: 1.6;
}

.completedTasks > span {
  background: var(--gray-400);
  color: var(--gray-200);
  margin-left: 0.5rem;
  padding: 2px 8px;
  border-radius: 12px;

  font-size: 0.75rem;
}

.noTask {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.noTask img {
  display: block;
  margin: 3rem auto 1rem;
}

.noTask strong {
  display: block;
  text-align: center;
  line-height: 1.6;
  color: var(--gray-300);
}

.noTask span {
  display: block;
  text-align: center;
  line-height: 1.6;
  color: var(--gray-300);
}
